.container {
    min-height: calc(100dvh - 8vh);
}

.box {
    margin: 2rem auto;
    width: min(1200px, 95%);
}

.headerTwo {
    margin-top: 80px;
}

.recommended {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 4rem;
}

.swiper {
    height: fit-content;
    --swiper-pagination-color: black;
}