.commentSection button{
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px; 
}

.formComment {
    display: flex;
    gap: 1rem;
    width: 100%;    
    margin:auto;
    padding-bottom:10px;
    align-items: flex-end;
    position: relative;
}

.createComment{
    border: 1px solid var(--borda-suave);
    border-radius: 5px;
    padding: 10px;
}

ion-icon{color: var(--texto-primario);}

.commentSection {
    gap: 1rem;
    margin: 10px auto;
}

.commentList{
    position: relative;
    list-style: none;
}

.comment{
    padding: 10px;
    position: relative;
}

.boxComment {
    flex: 1;
}

.imageAlignmentDropdown {
    position: absolute;
    background: var(--bg-principal);
    border: 1px solid var(--borda-suave);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    z-index: 10;
    display: flex;
    gap: 10px;
}

.imageAlignmentDropdown button {
    background: var(--borda-suave);
    border: 1px solid var(--borda-suave);
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
}

.imageAlignmentDropdown button:hover {
    background: var(--borda-suave);
}


img.float-left {
    float: left;
    margin: 0 10px 10px 0;
}

img.float-right {
    float: right;
    margin: 0 0 10px 10px; 
}

.quillEditorContainer {
    overflow: hidden;
}

.profilePicture {
    width: 40px;
    height: 40px;
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
    border: 1px solid var(--borda-suave);
    position: absolute;
    left: 15px;
    bottom:20px
}

/* Edição do Ícone spoiler */

.spoiler {
    margin-top: 0.5rem;
    position: absolute;
    right: 10px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.spoiler input[type="checkbox"] {
    display: none;
}

.spoiler label span{
    display: none;
}

.spoiler label, .spoiler label ion-icon{
    color: var(--texto-secundario);
    cursor: pointer;
    transition: transform 0.2s ease, color 0.2s ease;
    display: flex;
    align-items: flex-end;
    gap: 5px;
}
.spoiler label ion-icon {
    font-size: 24px;
}

.spoiler input[type="checkbox"]:checked + label ion-icon {
    color: #e74c3c;
    transform: scale(1.2);
}

button.envyButton {
    margin-top: 1rem;
    position: absolute;
    bottom: 20px;
    right: 8px;
    background-color: var(--destaque);
    color: var(--bg-principal);
    border: none;
    padding: 3px 5px;
    border-radius: 3px;
    padding:4px 10px;
}

.commentHeader, .commentUser{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.commentHeader img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid var(--borda-suave);
}


.commentActions {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}

.commentActions .spoilerButton span{
    gap: 5px;
    font-size: 14px;
    border: none;
    color: #ff5e5e;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.commentActions .spoilerButton ion-icon{
    color: #ff0000;
}

.commentActions .spoilerButton span:hover {
    color: #702d2d;
}

.spoilerContent {
    position: relative;
    filter: blur(5px);
    transition: filter 0.3s ease;
}

.spoilerContent.visible {
    transition: filter .5s ease;
    filter: blur(0);

}

.protectionWrapper {
    text-align: center;
    color: var(--borda-suave);
    font-style: italic;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 4px;
}


.inner {
    margin: 0 10px 10px 60px;
    max-width: 100%;
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: pre-wrap;
}

.commentText {
    max-height: 100px;
    overflow: hidden;
    position: relative;
}

.commentText.expanded {
    max-height: none;
}

.showMoreButton,
.showLessButton {
    background: none;
    border: none;
    color: var(--destaque);
    cursor: pointer;
    font-size: 14px;
    margin: auto;
    padding: 10px;
}

.showMoreButton:hover,
.showLessButton:hover {
    text-decoration: underline;
}

/* Linha vertical conectando os comentários de resposta */

.hasChildren::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 35px; 
    width: 2px;
    height: 95%;
    background-color: var(--borda-suave);
    z-index: -1; 
}

.commentList.hasChildren:last-child::before {
    height: 50%; 
}

.replyComment::before {
    content: "";
    position: absolute;
    top: 0;
    left: 35px; 
    width: 2px;
    height: 100%;
    background-color: var(--borda-suave);
    z-index: -1;
}

.replyComment:last-child::before {
    height: 50%;
}

/* Estrelas */
.rating{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.starRating {
    display: flex;
    align-items: center;
    gap: 5px;
}

.starRating input{
    color:var(--destaque);
    border: 1px solid var(--borda-suave);
    background-color: transparent;
    padding: 2px;
    border-radius: 10px;
    width: 40px;
    text-align: center;
}
.starIcon ion-icon, .rating ion-icon{
    font-size: 24px;
    color: var(--destaque);
    cursor: pointer;
    transition: transform 0.2s ease, color 0.2s ease;
}
.rating ion-icon{
    font-size: 18px;
    color: var(--destaque);
    cursor: pointer;
    transition: transform 0.2s ease, color 0.2s ease;
}

.starIcon:hover {
    transform: scale(1.2);
}

.meta {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 14px;
}

.commentRating ion-icon {
    color: var(--destaque);
    font-size: 16px;
}

.commentDate{
    font-size: 12px;
}

/* Responsividade */
@media (min-width: 768px) {
    .spoiler label span{
        display: block;
    }
    .commentActions {
        justify-content: initial;
        gap: 60px;
        margin-left: 60px;
    }
}