.container {
  display:flex;
  align-items: center;
  justify-content: center;
  height:  calc(100vh - 40px);
  width: 100vw;
  color: #333;
  overflow: hidden;
}


.book p,.book h1, .book label,.book h2{
  color: #333;
}


.book {
  width: 80%;
  height: 70vh;
  border:1px solid var(--borda-suave);
  display: flex;
  position: relative;
  background: #ffffff;
  box-shadow: 0 0 100px rgba(0, 0, 0, .3);
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

.page {
  width:100%;
  height: 100%;
  transition: transform .8s ease-in-out;
  position: absolute;
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(238,238,238,1) 50%, rgb(219, 219, 219) 100%);  
  display: flex;
  transform-origin: right;
  backface-visibility: hidden;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  
.book h1 {
  text-align: center;
  font-size: 40px;
  margin: 10px;
  color: #333;
}

.book form{
  width: 90%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: .5em;
}

.book form input, .book button,
  .book form input:placeholder-shown{
  padding: 10px 16px;
  font-size:14px;
  border-radius: 50px;
  background-color: transparent;
  color: #333;
  border: 1px solid ;
}

.book form button{
  border: none;
  margin-top:1em;
  background:#009c9d;
  color: #fff;
  cursor: pointer;
  transition: background 0.3s ease;
}

.book form button:hover{
  background: #0056b3;
}

.toggle {
  color: #007BFF;
  cursor: pointer;
  text-decoration: underline;
}

.link {
  border-top: 1px solid var(--borda-suave);
  width: 90%;
  text-align: center;
  padding: 10px 0;
  font-size: 1em;
  position: absolute;
  bottom: 10px;
}
.emptyPage, .emptyPage img{
    width: 100%;
    height: 100%;
}


.linkForgot{
  color: #333;
  font-size: .8;

}

.linkForgot{
  text-align: center;
  font-size: 14px;
}

.linkGoogle{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 1em;
}

.book footer,.book header{
  width: 100%;
  height: 2em;
  border-radius: 25%;
  position: absolute;
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(238,238,238,1) 50%, rgb(219, 219, 219) 100%);  
  display: flex;
  bottom: -1em;
}
.book header{
  top: -1em;
}

@media (max-width: 767px) {
  .page.emptyPage {
    display: none;
  }

  
  .book.flipped .left {
    display: none;

  }

  .book.flipped .right.cadastro{
    transform: rotateY(0deg);
    display: block;
    z-index: 30;
  }
  
}

/* Responsividade para tablet e notebook */
@media (min-width: 768px) {
  .book {
    width: 98%;
    height: 70vh;
    background:#009c9d;
    padding: 10px;
    perspective: 1500px;
    border-radius: 10px;
  }

  .page {
    position: relative;
    padding: 0;
    justify-content: space-evenly;
  }

  
  .page.left {
    transform-origin: left;
  }

  .book.flipped .left {
    transform: rotateY(180deg);

  }

  .book.flipped .right {
    transform: rotateY(0deg);
  }

  .book .left {
    transform: rotateY(0deg);
  }

  .book .right {
    transform: rotateY(-180deg);
  }
  
  .page.emptyPage {
    transition: none;
    transform:none;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(238, 238, 238, 1) 50%, rgb(219, 219, 219) 100%);
    width: 100%;
    overflow: hidden;
}

.page.left.emptyPage {
  transform: none;
  transition: none;
}

.emptyPage img {
    width: 98%;
    height: 100%;
    mix-blend-mode: multiply; 
    -webkit-mask-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 85%);
    mask-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 85%);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: cover;
    mask-size: cover;
    box-shadow: 0 0 100px 50px rgba(255, 255, 255, 0.7);
}

  .book footer, .book header{
    width: 100%;
    height: 2em;
    border-radius: 25%;
    position: absolute;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(238,238,238,1) 50%, rgb(219, 219, 219) 100%);  display: flex;
    bottom: -1em;
  }
  .book header{
    top: -1em;
  }
    
  .book form input, .book button,
  .book form input:placeholder-shown{
    font-size:16px;
  }

}

@media (min-width: 1024px) {
  .book {
    display: flex;
    max-width: 60%;
    height: 80vh;
    max-height: 700px;
    padding: 10px;
    border-radius: 10px;
  }

  .book form input, .book button,.book form label,
  .book form input:placeholder-shown{
    font-size:1em;
  }
}

.messageRegister{
  position: absolute;
  text-align: center;
  width: 80%;
  font-weight: bolder;
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.book .messageRegister h1{
  color: #009c9d;

}
