.navbar {
    padding: 0 20px;
    border-bottom: 1px solid var(--borda-suave);
    top: 0;
    z-index: 100;
    width: 100%;
    height: 60px;
    display: flex;
    font-size: 16px;
    justify-content: space-between;
    background-color: var(--bg-secundario);
    align-items: center;
}

.logo{
    display: flex;
    align-items:baseline;
}

.libris{
    font-size: 42px;
    padding: 0;
    font-family: "Bebas Neue", 'Roboto', Arial;
    color: var(--texto-primario);
}
.navbar-auth{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 3em;
}

.navbar-auth .notifications-button{
    border: none;
    background-color: transparent;
    text-align: start;
    font-size: 16px;
}

.navbar img{
    height: 30px;
}

.navbar-auth img, button.dropdown-toggle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;

}

.navbar-auth button.dropdown-toggle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.navbar a:hover, .navbar button:hover, .navbar-fixed .navbar-auth a.login-button:hover{
    color: var(--destaque);
    background-color: transparent;
}

.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown button{
    background-color: transparent;
    border: none;
    width: 100%;
    border-radius: 0;
    height: auto;
    text-align: left;
    padding: 0;
    margin: 0;
}

.navbar-fixed{
    position: fixed;
    border-bottom-color: transparent;
    background-color: #a0a0a000;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(10px);
}
.navbar-fixed .navbar-auth a, .navbar-fixed .libris, .navbar-fixed ion-icon{
    color: #000000;
}
.navbar-fixed .navbar-auth a.login-button{
    color: #ffffff;
}

.navbar-relative {
    position: relative;
}

.login-button{
    background-color: var(--destaque);
    color: var(--bg-principal);
    padding: 8px 15px;
    border-radius: 5px;
    border: 1px solid var(--destaque);
    cursor: pointer;
}

.active-link {
    color: var(--destaque);
    font-weight: bold;
    text-decoration: none; 
}

.dropdown-menu{
    position: absolute;
    border-radius: 5px;
    background-color: var(--bg-secundario);
    border: 1px solid var(--borda-suave);
    display: flex;
    flex-direction: column;
    padding: 16px;
    min-width: 250px;
    border-radius: 10px;
    top: 40px;
    gap: 1.3em;
    right: 0;
}

.theme-toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    cursor: pointer;
    background: none;
    bottom: 30px;
    border: none;
    width: 100%;
    overflow: hidden;
    transition: color 0.3s ease;
}

.theme-icon {
    height: 30px;
    width: 30px;
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid var(--texto-secundario);
    color: var(--texto-secundario);
    position: relative;
    overflow: hidden;
    transition: border-color 0.3s ease, color 0.3s ease;
}

.theme-icon ion-icon {
    font-size: 24px;
    color: var(--texto-secundario);
    transition: color 0.3s ease;
}

.theme-toggle::before {
    content: '';
    position: absolute;
    height: 1px;
    background: var(--texto-secundario);
    width: calc(100% - 60px);
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    transition: width 0.5s ease, background-color 0.5s ease;
}

.theme-toggle:hover .theme-text {
    color: var(--destaque);
}

.theme-toggle:hover .theme-icon {
    border-color:var(--destaque);
    color: white;
}

.theme-toggle:hover .theme-icon ion-icon {
    color: var(--destaque);
}

.theme-toggle:hover::before {
    background-color: var(--destaque);
}

.theme-toggle .theme-icon,
.theme-toggle .theme-icon ion-icon {
    border-color: var(--tema);
    color: var(--tema);
}

.theme-toggle:before{
    background-color: var(--tema);
}

.navbar a:hover,
.navbar button:hover {
    color: var(--texto-secundario);
    background-color: transparent;
}

.mobile-menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.dropdown-user {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--borda-suave);
}

.dropdown-item{
    font-size: 16px;
}

.dropdown-user img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--borda-suave);
}

.dropdown-user .user-info {
    display: flex;
    flex-direction: column;
}

.navbar-auth .dropdown-menu::before {
display: none;
}
@media (max-width: 768px) {
    .dropdown-user {
        display: none;
    }
    .navbar-auth {
        display: none;
        flex-direction: column;
        background-color: var(--bg-principal);
        border-bottom: 1px solid;
        align-items: start;
        justify-content: unset;
        position: absolute;
        top: 60px;
        right: 0;
        height:  calc(100vh - 60px);
        width: 100%;
        padding: 20px;
        margin: 0;
        gap: 2em;
    }

    .navbar-auth a , .navbar-auth .notifications-button, .dropdown{
        width: 100%;
    }

    .navbar-fixed .navbar-auth{
        position: fixed;
        border-bottom-color: transparent;
        background-color: #f4f4f4; 
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(100px);
    }

    .navbar-auth .dropdown-toggle img, button.dropdown-toggle{
        display: none;
    }

    .theme-toggle{
        position: absolute;
        bottom: 1em;
        width: 80%;
    }
    .navbar-auth .dropdown-menu {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        gap: 2em;
        border-radius: 0;
        background: var(--bg-principal);
        border: none;
        box-shadow: none;
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .mobile-menu-toggle {
        display: block;
    }

    .mobile-menu-open {
        display: flex;
    }

}

@media (min-width: 769px) {
    .mobile-menu-toggle {
        display: none;
    }
}
