.main {
    max-width: 1200px;
    margin: 20px auto;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
}

.perfil , .perfil-data {
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff00;
    border-radius: 8px;
}

.perfil{
    grid-column: 1 / -1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #333333;
    position: relative;
    margin-bottom: 80px;
    background-size: cover;
    background-position: center;
}

.perfil-data{
    position: absolute;
    bottom: -50%;
    padding:0 20px;
    gap: 20px;
    min-height: 160px;
    align-items: flex-end;
}


#image-preview-container{
    width: 100%;
    height: 150px;
    overflow: hidden;
}
#image-preview{
    max-width: 100%;
     display: none;
}

.foto-perfil {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: var(--bg-principal);
    border: 1px solid var(--bg-secundario);
}

.foto-perfil img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.editar-foto {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: var(--bg-secundario);
    border: 1px solid var(--bg-principal);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.editar-background {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: var(--bg-principal);
    color: var(--bg-principal);
    border: 1px solid #333;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.info-perfil {
    flex-grow: 1;
    width: 100%;
    height: auto;
}

.info-perfil h1 {
    color: var(--texto-primario);
    -webkit-text-stroke: thin var(--bg-principal);
    font-size: 24px;
    margin-bottom: 15px;
}

.textarea-container{
    width: 100%;
}

.perfil-data textarea {
    width: 100%;
    padding: 5px 0;
    border: none;
    border-radius: 4px;
    resize: none; 
    overflow-wrap: break-word; 
    word-break: break-word; 
    white-space: pre-wrap;  
    min-height:4.2em;
    line-height: 1.2em;  
    overflow: hidden;
    color: var(--texto-secundario);
    background-color: transparent;
}

.textarea-container sub {
    position: absolute;
    top: -10px;
    right: -10px;
}
.textarea-container {
    width: 100%;
    position: relative;
}

.edit-desc{
    border: 1px solid var(--bg-secundario);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: transparent;
}

.editar-perfil {
    padding: 5px 10px;
    background-color: var(--texto-primario);
    color: var(--bg-principal);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}

.user-description{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.estatisticas {
    margin-top: 10px;
    font-size: 14px;
    color: var(--texto-primario);
}

.conteudo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.top-comentarios, .heatmap, .lendo {
    background-color:var(--bg-secundario);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.top-comentarios h2, .heatmap h2, .lendo h2 {
    margin-bottom: 15px;
    font-size: 18px;
}  

.estante {
    grid-column: 1 / -1;
    background-color: var(--bg-secundario);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  #modal-content {
    background: var(--bg-secundario);
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    border: none;
    transition: border 0.3s;
  }

#image-preview-container {
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    max-width: 500px;
    align-items: center;
    overflow: hidden;
    margin-bottom: 10px;
}


#modal #modal-content input[type="file"] {
    margin-bottom: 10px;
}

#modal #modal-content button {
    padding: 5px 20px;
    width: 40%;
    margin:10px;
    color: var(--bg-secundario);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#modal .buttons button{
    background: var(--texto-secundario);
}

#modal .buttons button:first-child{
    background: var(--destaque);
}


@media (max-width: 768px) {
    .main {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .react-calendar-heatmap {
        max-width: 100%;
      }

    .perfil-data {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 8px;
    }
    .perfil-data textarea {
        min-height: 6em;
    }

    .perfil {
        margin-bottom: 150px;
    }

    .info-perfil h1 {
        font-size: 18px;
        margin: 0;
    }  

    .conteudo {
        grid-template-columns: 1fr;
    }

    .heatmap, .lendo, .top-comentarios, .estante {
        padding: 15px;
    }
}

/* HeatMap */

.calendar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .weekday-labels {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
    gap: 15px;
  }
  
  .weekday-label {
    width: 10px;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    color: #7765c6;

  }
  
  .react-calendar-heatmap {
    height: 220px;
  }
  .react-calendar-heatmap .react-calendar-heatmap-week {
    display: flex;
    justify-content: center;
  }
    
.react-calendar-heatmap .color-scale-1 { fill: #ba85e6;}
.react-calendar-heatmap .color-scale-2 { fill: #7765c6;}
.react-calendar-heatmap .color-scale-3 { fill: #4047a3;}
.react-calendar-heatmap .color-scale-4 { fill: #251e68;}