.customQuill .ql-container, 
.reviewQuill .ql-container {
    border: none;
    max-width: 100%;
}

.customQuill .ql-toolbar, 
.reviewQuill .ql-toolbar {
    width: 100%;
    border: none; 
}

.customQuill .ql-editor,
.reviewQuill .ql-editor  {
    border: none; 
    border-bottom: 1px solid var(--borda-suave);
    max-width:70%;
    margin:10px auto;
    overflow-wrap: break-word;
    word-break: break-word; 
    white-space: pre-wrap;
}

.reviewQuill .ql-editor {
    border: none; 
    max-width:98%;
    min-height: 40vh;
}
