.content{
    max-width: 1200;
    width: 80%;
    margin:20px auto 0;
}

.back, 
.back .backToBook,
.back .buttonEdit, 
.resenha .autor,
.reviewDetails{
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    margin: 15px 0;
    position: relative;
}

.resenha .rating{
    gap: 10px;
}

.backToBook{
   justify-content: flex-start;
   font-size: 14px;
}

.editReview {
    position: absolute;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid var(--borda-suave);
    border-radius: 10px;
    height: 30px;
    width: 120px;
}

.alertSpoilerReview{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid rgb(207, 98, 98);
    border-radius: 5px;
    color:  rgb(207, 98, 98);
    padding: 8px 14px;
    margin-bottom: 30px;
    width: 100%;
}

.titleReview{
    border: none;
    padding: 10px;
    font-size: 24px;
    width: 100%;
    background-color: transparent;
}

.resenha{
    margin-bottom: 50px;
}
.dateReview {
    font-size: 12px;
}

.resenha .meta{
    flex-direction: column-reverse;
}
.resenha .profilePicture {
    display: none;
}

.resenha .formComment {
    padding: 0;
    border: none;
}

.autorImage{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.envyReviewButton{    
    width: 100%;
    background-color: var(--texto-secundario);
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px;
}

.boxComment {
    border: 1px solid var(--borda-suave);
    border-radius: 5px;
}

.resenha  .innerReview{
    width: 100%;
    margin-top: 10px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: pre-wrap;
    background-color: transparent;
}

@media (max-width: 768px) {
    .content{
        width: 100%;
    }
    .back {
        flex-direction: column;
        align-items: flex-start;
    }
}
