.pl-resenhas {
    padding: 10px;
}

.pl-resenhas h1 > img {
    margin-right: 8px;
    transform: translate( 0, 10%);
}

.swiper {
    border-radius: 10px;
    background-color: lightgray;
}

.pl-resDescription {
    padding: 5px;
    margin-left: 35px;
    margin-right: 35px;
}

.pl-autorResenha h3 > img {
    margin-right: 4px;
    transform: translate(0, 5%);
    border: 1px solid;
    border-radius: 50%;
    padding: 1px;
    width: 12px;
}

.botSlider .swiper-button-prev {
    color: black;
}

.botSlider .swiper-button-next {
    color: black;
}
