.reviewSection{
  margin: 30px 0;
  width: 100%;
}

.swiper {
    width: 100%;
  }
  
.swiperSlide {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ddd;
    border-radius: 10px;
    padding: 10px;
    height: 100px;
  }
