.rating{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.starRating {
    display: flex;
    align-items: center;
    gap: 5px;
}

.starRating input{
    color:var(--destaque);
    border: 1px solid var(--borda-suave);
    background-color: transparent;
    padding: 2px;
    border-radius: 10px;
    width: 40px;
    text-align: center;
}

.starRating ion-icon{
    font-size: 24px;
    color: var(--destaque);
    cursor: pointer;
    transition: transform 0.2s ease, color 0.2s ease;
}

.starIcon:hover {
    transform: scale(1.2);
}